.rst-button {
  background: #cf4736;
  background-image: -webkit-linear-gradient(top, #cf4736, #706b67);
  background-image: -moz-linear-gradient(top, #cf4736, #706b67);
  background-image: -ms-linear-gradient(top, #cf4736, #706b67);
  background-image: -o-linear-gradient(top, #cf4736, #706b67);
  background-image: linear-gradient(to bottom, #cf4736, #706b67);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #f5faf6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.rst-button:hover {
  background: #acb0b3;
  text-decoration: none;
}
